$primary-color: lightblue;
$secondary-color: grey;
$navbar-bg: #032c61;
$link-color: #fff;
$link-hover: #009985;
$breakpoint-mobile: 768px;
$body-color: lightgreen;
body{background-color: $body-color}
@import "header";
@import "nav-bar";
@import "body";

